<!DOCTYPE html>
<html lang="en" class="admin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Playbooks</title>
    <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>" />
  </head>

  <body>
      <p class="ui message info" role="alert"><%= get_flash(@conn, :info) %></p>
      <main class="ui container">
        <%= render @view_module, @view_template, assigns %>
      </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- script>
window.onload = function() {
    var converter = new showdown.Converter();
    var pad = document.querySelector('textarea.pad');
    var markdownArea = document.querySelector('.markdn');   

    var convertTextAreaToMarkdown = function(){
        var markdownText = pad.value;
        html = converter.makeHtml(markdownText);
        markdownArea.innerHTML = html;
    };

    pad.addEventListener('input', convertTextAreaToMarkdown);

    convertTextAreaToMarkdown();
};
    </script -->
  </body>
</html>
