<header>
  <h1 class="ui block header">Edit playbook</h1>
</header>

<div class="ui grid">
  <div class="twelve wide column">
<%= render "form.html", changeset: @changeset,
                        action: playbook_path(@conn, :update, @playbook) %>
</div>
</div>

