<h2>Edit playbook</h2>

<%= render "form.html", changeset: @changeset,
                        action: playbook_path(@conn, :update, @playbook) %>

<%= link "Back", to: playbook_path(@conn, :index) %>
