<h2>Edit move</h2>

<%= render "form.html", changeset: @changeset, playbook: @playbook,
                        action: playbook_move_path(@conn, :update, @playbook, @move) %>

<%= link "Back", to: playbook_move_path(@conn, :index, @playbook) %>
