<div class="ui text container">
<h1 class="ui header">Add a move</h1>

<%= render "form.html", changeset: @changeset, playbook: @playbook,
                        action: playbook_move_path(@conn, :create, @playbook), level: @conn.params["level"] %>
</div>
