/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/fonts/lato-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/fonts/lato-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('/fonts/lato-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* metamorphous-regular - latin-ext_latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'),
       url('/fonts/metamorphous-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/metamorphous-v6-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    background:url(/images/clean_textile.png);
    font-size:16px;
}

header {margin:1em 0;}
main { padding:1em 0; }
footer {clear: both;padding:1em;}
.ff5{font-family:Fontin;line-height:1.2em;font-size:0.75em;font-style:italic;}

p {
    font-family:Lato;
}

li {
    font-size: 0.9rem;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 1em;
}
ul, ol {
    font-size: 1rem;
}
p, ul, ol {
    color: #333;
}
.ui-content li, .moves li > * {
    font-size: 1rem !important;
    white-space: normal !important;
}

.ui-content li, .moves li > .ff5 {
    font-size: 0.8rem !important;
}
    main {
        height:auto;
        max-width:700px;
        padding:1rem;
        box-sizing:border-box;
        margin:0 auto;
    }
    header {
        padding: 0.5rem;
        margin: 0;
        p {
            text-align:center;
        }
    }
img.logo {
    position:absolute;
    width:3.25rem;
    top:0;
    left:1rem;
}

h1 {
    font-family:Metamorphous;line-height:0.942383;font-style:normal;font-weight:normal;
    padding-left:5rem;
    text-transform: uppercase;
}
h2 {font-size:1.2em;position:relative;}
h3 {
    font-size: 1.2rem;
    margin: 0;
}
b, strong, h3 {
    font-family: Fontin;
    font-style: normal;
    font-weight: bold;
}
b, strong {
    color:black;
}
h2 img {
    height:1.5em;
    position:relative;
    top: 0.25em;
    padding-right:0.5em;
}
.gear ul, ol {
    padding-left: 0px;
    margin-left: 2.14286em;
    list-style-type: none;
}

ol li {
    position:relative;
}
ol li:before {
    font-family: FontAwesome;
    content:"\f096";
    left: -2.14286em;
    position:absolute;
}

.campaigns {
    background:url(/images/clean_textile.png);
    font-size:2rem;
    box-sizing:border-box;
    article {
        box-sizing:border-box;
        //background:url(/images/clean_textile.png);
        border-radius:0.5rem;
        margin:0 auto 1rem;
        padding:1rem;
        background-image:linear-gradient(to bottom, #FFF8B9 0px, #FFF386 100%);
        border: thin solid #777;
        box-shadow:1px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }
    article:nth-child(odd){
        transform: rotate(1.01724deg);
    }
    article:nth-child(even){
        transform: rotate(-1.01724deg);
    }
    main {
        height:auto;
        max-width:700px;
        padding:1rem;
        box-sizing:border-box;
        margin:0 auto;
    }
    header {
        padding: 0.5rem;
        margin: 0;
        p {
            text-align:center;
        }
    }
    h2 {
        //color:white;
        font-family:Lato;
        margin:0 auto;
        text-align:center;
    }
    .books {
        transform: rotate(1.01724deg);
        background-image:linear-gradient(to bottom, #FFF8B9 0px, #FFF386 100%);
        box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.3);
        width:7.5em;
        padding: 1em 1em 0.5em;
        margin: 0 -1.5em 1em 1em;
        float:right;
    }
    h4 {
        text-align:center;
        font-size:0.8rem;
        color:#333;
        margin:0 0 0.5em;
        text-transform:uppercase;
    }
    ul {
        list-style-type: none;
    }
    li {
        font-family:Lato;
        line-height:1.8;
    }

    p {
        font-family:Lato;
        font-size:0.9rem;
        line-height: 1.2em;
        margin:0.5em 0;
    }

}
