<h2>Campaign Playbooks</h2>
<p>Here are your choices.</p>

<%= for book <- @books do %>
<article>
  <h3><%= book.name %></h3>
  <%= markdown book.summary %>
  <p><%= link "Page 1", to: page_path(@conn, :show, book.slug) %> and <%= link "Page 2", to: page_path(@conn, :gear, book.slug) %></p>
</article>
<% end %>
