<div class="campaigns">
<header>
  <h2><%= @campaign.name %></h2>
  <p><%= link "Basic Moves", to: page_path(@conn, :moves, @campaign.slug) %></p>
</header>

<main>
<%= for book <- @books do %>
<article>
  <h3><%= book.name %></h3>
  <%= markdown book.summary %>
  <p><%= link "Playbook", to: page_path(@conn, :show, book.slug) %></p>
</article>
<% end %>
</main>
</div>
